<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/ubb.css') }}">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->



<div class="row affix-row">
    <div class="col-sm-3 col-md-2 affix-sidebar">
		<div class="sidebar-nav">
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <span class="visible-xs navbar-brand">Sidebar menu</span>
    </div>

      <ul class="nav navbar-nav" id="sidenav01">
        <li class="active">
          <a href="#" data-toggle="collapse" data-target="#toggleDemo0" data-parent="#sidenav01" class="collapsed">
          <h4>
          INDICE
          <br>
          <small>PYTHON POWER <span class="caret"></span></small>
          </h4>
          </a>

        </li>
        <li><a href="/"><span class="glyphicon glyphicon-calendar"></span> INICIO <span class="badge pull-right">42</span></a></li>
        <li><a href="/listar_pacientes"><span class="glyphicon glyphicon-lock"></span> LISTAR PACIENTES</a></li>
        <li><a href="/listar_vacunas"><span class="glyphicon glyphicon-lock"></span> LISTAR VACUNAS</a></li>
        <li><a href="/vacuna_paciente"><span class="glyphicon glyphicon-lock"></span> MOSTRAR VACUNAS PACIENTE</a></li>
        <li><a href="/paciente_vacuna"><span class="glyphicon glyphicon-lock"></span> MOSTRAR PACIENTES VACUNAS</a></li>
        <li><a href=""><span class="glyphicon glyphicon-cog"></span> INSERTAR VACUNA</a></li>
        <li><a href=""><span class="glyphicon glyphicon-cog"></span> INSERTAR PACIENTE</a></li>
        <li><a href=""><span class="glyphicon glyphicon-cog"></span> VACUNAR PACIENTE</a></li>
      </ul>

    </div>
  </div>
	</div>
	<div class="col-sm-9 col-md-10 affix-content">
		<div class="container">
			
				<div class="page-header">
	<h3><span class="glyphicon glyphicon-th-list"></span> ENUNCIADO TRABAJO</h3>
</div>
Estimados:<br>
<br>
Adjunto a uds un wireframe con la funcionalidad básica del proyecto. (pueden hacer click en los botones del pdf)<br>
<br>
Vacunatorio Coelemu requiere un sistema para manejar sus pacientes e inventario de vacunas. El proyecto debe poder:<br>
<br>
- Listar todos los pacientes<br>
- Crear pacientes<br>
- Listar vacunas<br>
- Crear vacunas<br>
- Listar pacientes que han recibido una vacuna específica<br>
- Listar vacunas que ha recibido un paciente<br>
- Registrar vacuna a un paciente (vacunar paciente)<br>
<br>
Entidades:<br>
- Paciente (nombre, rut, fecha_nacimiento)<br>
- Vacuna (nombre_enfermedad)<br>
<br>
Relaciones:<br>
- Paciente&nbsp; ---(0,n)---Recibe---(0,n)---N&nbsp; &nbsp;Vacuna<br>
<br>
Consideraciones:<br>
- Cada que se agregue una nueva vacuna, o se vacune un paciente en específico, se deberá registrar de manera automática la fecha de registro, la que después será mostrado en los listados.<br>
- El sistema deberá utilizar una base de datos mysql, flask y jinja. Está prohibido utilizar otra forma de servidor HTTP o base de datos. Incumplir esto resultará en la nota mínima, es decir, 1.<br>
- No se aceptarán correos después del plazo, cualquiera fuera de plazo será evaluado con nota 1.<br>
- El proyecto deberá ser subido a un repositorio github, que deberá contener:<br>
&nbsp; &nbsp; &nbsp; &nbsp; - Código completo del proyecto<br>
&nbsp; &nbsp; &nbsp; &nbsp; - Archivo README con las instrucciones de instalación y desplegado<br>
&nbsp; &nbsp; &nbsp; &nbsp; - Archivo requirements.txt con todas las dependencias utilizadas por pip<br>
&nbsp; &nbsp; &nbsp; &nbsp; - Script sql con la estructura de la base de datos, junto con datos de pruebas en todas las tablas.<br>
- Cada archivo .py o .html del proyecto deberá tener comentado el nombre de los integrantes <br>
- Al entregar el proyecto, solo se deberá enviar un correo a <a href="mailto:x.zenteno.a@gmail.com" target="_blank"><span class="il">x.zenteno.a@gmail.com</span></a> con la url del repositorio github y los nombres de los integrantes, nada más. No aceptará ni menos considerará el código adjuntado al correo.<br>
- El código no podrá estar comprimido ni compactado en un rar, zip, gzip, tar, etc. Incumplir esto resultará en la nota mínima.
		</div>
	</div>
</div>