<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vacunatorio Coelemu</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/ubb.css') }}">

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
</head>
<!------ Include the above in your HEAD tag ---------->


<body>
<div class="row affix-row">
    <div class="col-sm-3 col-md-2 affix-sidebar">
		<div class="sidebar-nav">
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <span class="visible-xs navbar-brand">Sidebar menu</span>
    </div>

      <ul class="nav navbar-nav" id="sidenav01">
        <li class="active">
          <a href="#" data-toggle="collapse" data-target="#toggleDemo0" data-parent="#sidenav01" class="collapsed">
          <h4>
          VACUNATORIO
          <br>
          <small>Indice <span class="caret"></span></small>
          </h4>
          </a>

        </li>
        <li><a href="/"><span class="glyphicon glyphicon-calendar"></span> INICIO <span class="badge pull-right">42</span></a></li>
        <li><a href="/listar_pacientes"><span class="glyphicon glyphicon-lock"></span>LISTAR PACIENTES </a></li>
        <li><a href="/listar_vacunas"><span class="glyphicon glyphicon-lock"></span> LISTAR VACUNAS</a></li>
        <li><a href="/vacuna/add"><span class="glyphicon glyphicon-cog"></span> INSERTAR VACUNA</a></li>
        <li><a href="/paciente/add"><span class="glyphicon glyphicon-cog"></span> INSERTAR PACIENTE</a></li>
      </ul>

    </div>
  </div>
	</div>
	<div class="col-sm-9 col-md-10 affix-content">
		<div class="container">
			
			<div class="page-header">
	      <h3><span class="glyphicon glyphicon-th-list"></span> Vacunar Paciente</h3>
      </div>


  <form action="" method="POST">

    <div class="form-group row">

        <table class="table">
            {% for NOMBRE in paciente %}
            <tbody>
              <tr>
                <th scope="row">Nombres:</th>
                <td>{{ NOMBRE['NOMBRE']}}</td>
              </tr>
              <tr>
                <th scope="row">Apellidos:</th>
                <td>{{ NOMBRE['APELLIDOS']}}</td>
              </tr>
              <tr>
                <th scope="row">RUT:</th>
                <td>{{ NOMBRE['RUT']}}</td>
              </tr>
              <tr>
                <th scope="row">Fecha de nacimiento:</th>
                <td>{{ NOMBRE['FECHA_NACIMIENTO']}}</td>
              </tr>
              {% endfor %}
            </tbody>
             <tr>
                 <th scope="row">Vacuna:</th>
                 <td>
                    <select id="inputState" name="nombre_enfermedad" class="form-control">
                        {% for ENFERMEDAD in lista_vacu %}
                        <option  value="{{ ENFERMEDAD['NOMBRE_ENFERMEDAD'] }}">{{ ENFERMEDAD['NOMBRE_ENFERMEDAD'] }}</option>
                        {% endfor %}
                    </select>
                 </td>
             </tr>

          </table>

    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">GUARDAR</button>
      </div>
    </div>
  </form>
</div>

  </div>
</div>

</body>

</html>
